<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438277207368-bi6gki5m8tgg0f1vh7bvpjhtvm8oe1qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438277207368-bi6gki5m8tgg0f1vh7bvpjhtvm8oe1qp</string>
	<key>API_KEY</key>
	<string>AIzaSyBN2crXbWBfha7Vv0zlW00zwGSiToWzNcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438277207368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>p2chat-129cd</string>
	<key>STORAGE_BUCKET</key>
	<string>p2chat-129cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438277207368:ios:d3c6cc22b9ae9659aaaf7d</string>
</dict>
</plist>